.input-box{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 50px;
    gap: 15px;
    height: 400px;
    justify-content: center;
    padding: 50px;
}

.input-box input{
    height: 30px;
    width: 200px;
    
}

.input-box button{
    height: 50px;
    width: 200px;
    font-size: 20px;
}