.box{
    max-width: 2000px;
    max-height: 2000px;
    border: 1px solid black;
}

.title-box h1{
    text-align: center;
}

.title-box p{
    text-align: center;
}

.title-box{
    height: 400px;
    width: 400px;
    border: 1px solid black;
}